# Font-Ordner komplett
assets/fonts/

# Font-Dateien überall
*.ttf
*.woff
*.woff2
*.otf

# Umgebungsvariablen
.env
assets/php/.env
assets/php/.env.prod

# ganze Ordner
assets/php/logs/archive/
assets/php/logs/sent-eml/

# Log-Dateien rekursiv in allen Unterordnern:
assets/php/logs/**/*.log