<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Alte Seiten auf Root umleiten
  RewriteRule ^impressum\.html$ / [R=301,L]
  
  # Favicon Rewrites
  RewriteRule ^favicon\.ico$ /assets/favicon/favicon.ico [L]
  RewriteRule ^apple-touch-icon\.png$ /assets/favicon/apple-touch-icon.png [L]
  RewriteRule ^favicon\.svg$ /assets/favicon/favicon.svg [L]
</IfModule>

<IfModule mod_headers.c>
  # Entferne restriktive Header
  Header always unset Content-Security-Policy
  Header always unset X-Frame-Options
  
  # Setze erlaubende Header
  Header always set X-Frame-Options "SAMEORIGIN"
  Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob:; font-src 'self' data:; connect-src 'self'; base-uri 'none'; frame-ancestors 'self'; form-action 'self'"
  Header always set X-Content-Type-Options "nosniff"
  Header always set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>